{
 # Activer FrankenPHP
 frankenphp
 # Configurer l'ordre d'exécution de la directive
 order php_server before file_server
}

localhost {
 root * /var/www/html/camagru/Presentation
 file_server
 php_server
}