.flex-column-gap-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-simple {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

