/* styles.css */

/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Style de la barre de navigation */
nav {
    background-color: #0d6efd; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police de caractères */
}

nav ul {
    list-style: none; /* Supprime les puces de la liste */
    display: flex; /* Affiche les éléments en ligne */
    justify-content: space-around; /* Répartit l'espace entre les éléments */
    padding: 1rem; /* Espacement interne */
}

nav li {
    margin-right: 1rem; /* Espacement entre les éléments */
}

nav a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Hérite de la couleur du texte */
    transition: color 0.3s; /* Transition de couleur au survol */
}

nav a:hover {
    color: rgb(152, 196, 210); /* Couleur au survol */
}

