/* footer.css */

/* Style pour le footer */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #343a40;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le texte du footer */
footer p {
    margin: 0;
}