/* /Presentation/Assets/css/components/sticker_selection.css */

.sticker-selection {
    margin: 20px 0;
    text-align: center;
}

#sticker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Espace uniforme entre les items */
    list-style-type: none;
    padding: 0;
}

#sticker-list li {
    margin: 5px;
}

#sticker-list img {
    width: 60px; /* Largeur fixe */
    height: 60px; /* Hauteur fixe */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    object-fit: cover; /* Ajuste l'image pour remplir le cadre tout en conservant le ratio */
}

#sticker-list img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.selected-sticker {
    border: 2px solid #008CBA;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 140, 186, 0.5); /* Ombre bleutée pour indiquer la sélection */
}