/* Styles spécifiques à la page post */
.main-container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

/* Colonne de gauche */
.left-column {
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* Styles généraux pour les boutons d'action */
.action-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

/* Styles pour les boutons d'action au survol */
.action-button:hover {
    background-color: #005f73;
}

/* Styles pour les boutons d'action désactivés */
.action-button.disabled-button,
.action-button:disabled,
label.action-button.disabled-button {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}

/* Sticker sélectionné */
.selected-sticker {
    border: 2px solid #008CBA;
    border-radius: 4px;
}

/* Styles pour le message d'instruction */
#capture-instruction {
    margin-top: 10px;
    text-align: center;
    color: #555;
    font-size: 14px;
}

/* Styles pour le conteneur du bouton avec infobulle */
.button-container {
    position: relative;
    display: inline-block;
}

/* Styles pour l'infobulle */
.button-container[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    z-index: 1000;
    font-size: 12px;
    white-space: normal;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Petite flèche sous l'infobulle */
.button-container[data-tooltip]:hover::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    z-index: 1000;
}

/* Ajustement pour s'assurer que l'infobulle n'apparaît que lorsque le bouton est désactivé */
.button-container:not(:hover)::after,
.button-container:not(:hover)::before {
    content: none;
}